@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.subtitulo-estilo, body .color-menu:hover .subtitulo {
  font-size: 15px;
  font-style: oblique; }

.subtitulo-estilo, body .color-menu:hover .subtitulo {
  font-size: 15px;
  font-style: oblique; }

/* Estilos de home */
body {
  background-color: #07afb6;
  font-family: 'Merrieweather Sans', sans-serif; }
  body header {
    background-color: #4aafb6;
    font-family: 'Merrieweather Sans', sans-serif; }
  body .tintoreria {
    border-radius: 5px;
    background-color: #d0e6fa;
    text-align: center; }
    body .tintoreria .titulo {
      font-size: x-large;
      font-style: initial;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  body .color-menu {
    color: #f3ebeb; }
  body .color-menu:hover {
    border-bottom: 2px solid #258991;
    color: black; }
    body .color-menu:hover .subtitulo {
      font-size: 15px;
      font-style: oblique; }

img {
  width: 50px;
  height: 50px; }

main {
  background-color: whitesmoke;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: bold; }
  main .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; }
    main .image-grid img {
      width: 100%;
      height: auto;
      object-fit: cover; }

footer {
  background-color: #d0e6fa;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  position: relative; }

footer p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px; }

footer img {
  width: 50px;
  height: 50px; }

.redes-footer {
  font-size: 14px;
  /* Tamaño de fuente más pequeño */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  /* Sombra */ }

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
  footer {
    padding: 10px;
    font-size: 18px; }
  footer img {
    width: 30px;
    height: 30px; }
  main {
    padding-left: 20px;
    padding-right: 20px; } }

.subtitulo-estilo, body .color-menu:hover .subtitulo {
  font-size: 15px;
  font-style: oblique; }

/* estilos de quienes somos */
main .imagen-responsive {
  max-width: 100%;
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  /* Estilos para tablet y versiones más grandes */ }

main .imagen-responsive {
  max-width: 50%; }

@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */ }

main .imagen-responsive {
  max-width: 80%;
  margin: 0 auto; }

@media (min-width: 992px) {
  /* Estilos para desktop y versiones más grandes */ }

main .imagen-responsive {
  max-width: 30%; }

main .subtitulo {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
  border: 4px solid #ccc;
  border-radius: 4px;
  font-family: "Arial", sans-serif; }

.subtitulo-estilo, body .color-menu:hover .subtitulo {
  font-size: 15px;
  font-style: oblique; }

/* estilos de servicios */
header {
  background-color: #4aafb6; }
  header div h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large; }

main .servicios {
  text-align: center;
  background-color: #d0e6fa; }

main .servicios:hover {
  border-bottom: 2px groove;
  background-color: #d0e6fa; }

main .card-container {
  display: flex;
  justify-content: center; }

main .card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px; }

main .card-body {
  padding: 10px; }

main ul {
  padding: 0;
  list-style: none; }

main li {
  padding: 5px;
  border-bottom: 1px solid #ccc; }

main li:last-child {
  border-bottom: none; }

.subtitulo-estilo, body .color-menu:hover .subtitulo {
  font-size: 15px;
  font-style: oblique; }

/* estilos de promociones */
main ul div.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px; }

main p {
  text-align: center;
  background-color: #d0e6fa; }

main p:hover {
  border-bottom: 2px groove;
  background-color: #d0e6fa; }

main li {
  font-size: small;
  color: #3d3d3d;
  border: 3px solid #ccc;
  padding: 10px;
  margin-bottom: 10px; }

/* Estilos de promociones en versiones de tablet y desktop */
@media (min-width: 768px) {
  main ul li {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; } }

.subtitulo-estilo, body .color-menu:hover .subtitulo {
  font-size: 15px;
  font-style: oblique; }

/* estilos de contacto */
body {
  background-color: #4aafb6;
  font-family: 'Merrieweather Sans', sans-serif; }

main div {
  display: flex;
  justify-content: center; }
